@model IEnumerable<biblioteka___nowy_projekt.Models.Kategoria>

@{
    ViewData["Title"] = "Lista kategorii";
}

<h1>Lista kategorii</h1>

<p>
    <a asp-action="Create">Dodaj nową kategorię</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdKategoria">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.IdKategoria">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.IdKategoria">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
